<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>{% block title %}Custom CMS Home Page{% endblock %}</title>
        {% block stylesheets %}
            {% stylesheets filter='cssrewrite' filter='uglifycss'
              '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
              '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.css'
              '@CustomCMSBundle/Resources/public/css/custom.css'              
            %}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets %}            
        {% endblock %}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div id="header">
                <p id="logo">Custom CMS</p>
                <div id="nav">
                    <a href="{{ path('cms_homepage') }}" >Home</a>
                </div>
            </div>
            {% for flashMessage in app.session.flashbag.get('msg') %}
                <div><b>{{ flashMessage }}</b></div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts filter='uglifyjs2' output='js/compiled/main.js' 
                '%kernel.root_dir%/../vendor/components/jquery/jquery.js'
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
