<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>
            {%- if block('title') -%}
                Custom CMS Home Page | {{- block('title') -}}
            {%- else -%}
                Custom CMS Home Page
            {%- endif -%}
        </title>
        {% block stylesheets -%}
            {% stylesheets filter='cssrewrite' filter='uglifycss'
              '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap.css'
              '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/css/bootstrap-theme.css'
              '@CustomCMSBundle/Resources/public/css/custom.css'
            -%}
            <link rel="stylesheet" href="{{ asset_url }}"/>
            {% endstylesheets -%}
        {% endblock -%}
        <link rel="icon" type="image/x-icon" href="{{ asset('favicon.ico') }}" />
    </head>
    <body>
        <div class="container">
            <div id="header">
                <p id="logo">Custom CMS</p>
                <div id="nav">
                    <a href="{{ path('cms_homepage') }}" >Home</a>
                    {% if is_granted('ROLE_ADMIN') %}
                        | <a href="{{ path('cms_user_index') }}">Users</a> |
                        <a href="{{ path('cms_category_index') }}">Categories</a> |
                        <a href="{{ path('cms_page_index') }}">Pages</a> |
                    {% elseif is_granted('ROLE_USER') %}
                        | <a href="{{ path('cms_page_index') }}">Pages</a> |
                    {% endif %}

                    {% if is_granted('ROLE_ADMIN') or is_granted('ROLE_USER') %}
                        <a href="{{ path('logout') }}">Logout ({{ app.user }})</a>
                    {% endif %}
                </div>
            </div>
            {% for flashMessage in app.session.flashbag.get('msg') %}
                <div><b>{{ flashMessage }}</b></div>
            {% endfor %}
            {% block body %}{% endblock %}
        </div>
        {% block javascripts %}
            {% javascripts filter='uglifyjs2' output='js/compiled/main.js'
                '%kernel.root_dir%/../vendor/components/jquery/jquery.js'
                '%kernel.root_dir%/../vendor/twbs/bootstrap/dist/js/bootstrap.js'
            %}
            <script src="{{ asset_url }}"></script>
            {% endjavascripts %}
        {% endblock %}
    </body>
</html>
